<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.edu.mapper.ClassesMapper">
  <resultMap id="classesResultMap" type="com.ssm.edu.pojo.Classes">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="delFlag" jdbcType="BIT" property="delFlag" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="createBy" jdbcType="VARCHAR" property="createBy" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateBy" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="classRoomId" jdbcType="VARCHAR" property="classRoomId" />
    <result column="gradeId" jdbcType="VARCHAR" property="gradeId" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

</mapper>