<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.edu.mapper.SchoolsMapper">
  <resultMap id="schoolsResultMap" type="com.ssm.edu.pojo.Schools">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="delFlag" jdbcType="BIT" property="delFlag" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="createBy" jdbcType="VARCHAR" property="createBy" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateBy" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="provinceId" jdbcType="INTEGER" property="provinceId" />
    <result column="cityId" jdbcType="INTEGER" property="cityId" />
    <result column="districtId" jdbcType="INTEGER" property="districtId" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

</mapper>